* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #121212;
  color: #E0E0E0;
}

nav {
  background-color: #1E1E1E;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #B0BEC5;
  padding: 5px 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 5px;
}

nav a:hover {
  color: #FFFFFF;
  background-color: #007ACC;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: #E0E0E0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

.social-container {
  text-align: center;
}

/* Improved Link Styles */
.link {
  display: inline-block;
  background-color: #007ACC;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  margin: 10px 0; /* Add some margin for spacing */
}

.link:hover {
  background-color: #005A9E;
  transform: translateY(-2px);
}

/* FAQ Styles */
.faq-container {
  width: 100%;
}

.faq-item {
  margin-bottom: 15px;
  background-color: #2A2A2A;
  border-radius: 5px;
  overflow: hidden;
}

.question {
  padding: 10px;
  background-color: #1E1E1E;
  cursor: pointer;
  transition: background-color 0.2s;
}

.question:hover {
  background-color: #007ACC;
}

.answer {
  display: none;
  padding: 10px;
  background-color: #2A2A2A;
}

.answer.active {
  display: block;
}
