* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #121212;
  color: #E0E0E0;
}

nav {
  background-color: #1E1E1E;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #B0BEC5;
  transition: color 0.2s;
}

nav a:hover {
  color: #80CBC4;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: #E0E0E0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

.social-container {
  text-align: center;
}

.styled-link {
  color: #80CBC4;
  text-decoration: none;
  border-bottom: 1px solid #80CBC4;
  transition: color 0.3s, border-bottom 0.3s;
}

.styled-link:hover {
  color: #4DB6AC;
  border-bottom: 1px solid transparent;
}
